<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-3">
		<h3 class="font-bold admin-title">会員一覧画面</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<table class="table table-bordered">
			<thead class="bgc-sil">
				<tr>
					<th class="font-bold">会員ID</th>
					<th class="font-bold">氏名</th>
					<th class="font-bold">メールアドレス</th>
					<th class="font-bold">ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @end_users.each do |end_user| %>
					<tr>
						<td>
							<%= end_user.id %>
						</td>
						<td>
							<%= end_user.last_name %><%= end_user.first_name %>
						</td>
						<td>
							<%= end_user.email %>
						</td>
						<td>
							<% if end_user.deleted_at == nil %>
							有効
							<% else %>
							無効
							<% end %>
						</td>
					</tr>

				<% end %>
			</tbody>
		</table>
	</div>
</div>